.dp{
    margin-top: 5%;
    text-align: center;
    color: #fff;
    filter: drop-shadow(3px 2px 3px);
    padding: 0px 10vw;
  }
  .op{
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0,
        0.3) 0px 8px 16px -8px;
  }
  
  .op h1 {
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
      color: #0a0a0a;
  }
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
    padding: 20px;
    filter: drop-shadow(3px 2px 6px black);
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    
    flex: 1 1 calc(30% - 100px); /* 4 cards in a row with gaps */
    flex: 1 1 calc(40% - 50px);
    flex: 1 1 calc(60% - 20px);
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 16px;
}
.card-content li{
    font-size: 20px;
}

.destination-name {
    font-size: 1.4em;
    margin: 0;
    color: #000000;
}

.rating {
    font-size: 1.03em;
    color: #ff9800;
    margin: 8px 0;
}

.price {
    font-size: 19px;
    color: #000000;
    margin: 0;
  
}
/*.acti{
    display: flex;
    justify-content: space-around;
}

.pri{
    font-size: 19px;
    color: #000000;
    margin: 0;
       
}*/

 #ul li{
    display: inline-block;
    font-size: 20px;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(131, 56, 56, 0.692);
   
    
 }
 .fa-hotel{
    padding-right: 4%;
    margin: 8%;
 }
 .fa-plane-departure{
    padding-right: 4%;
    margin: 8%;
 }
 .fa-utensils{
    padding-right: 4%;
    margin: 8%;
}

/* button */ 
.wrapper{
    text-align: center;
}

.button{
    justify-content: center;
    width:200px;
    height:50px;
    background: linear-gradient(to left top, #161616 50%, #000000f1 50%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
}
.button span{
    position: absolute;
    display: block;
}
.button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #ff0000);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
.button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #ff0000);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #ff0000);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #ff0000);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

.button:hover{
    transition: all .4s;
    transform: rotate(-1deg) scale(1.1);
    box-shadow: 1px 3px 5px rgba(0,0,0,.4);
}
.button:hover span{
    animation-play-state: paused;
}
